$background_color: #18181b;
$primary_color: #fff;
$secondary_color: #e2e2e3;
$third_color: #737374;
$fourth_color: #909092;
$fifth_color: #2f2e31;
$sixth_color: #cfcfd8;
$default_font: "Inter", serif;
