@use "../../utils/variables" as *;
.about {
  display: flex;
  flex-direction: column;
  gap: 150px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 200px 0;
  font-family: $default_font;
  .general_information {
    width: 800px;
    .card {
      padding: 30px;
      width: 800px;
      height: 200px;
      background: $fifth_color;
      border-radius: 10px;
      .top_information {
        margin-bottom: 10px;
        p {
          background: $fifth_color;
        }
      }
      .bottom_information {
        background: $fifth_color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left_side {
          display: flex;
          justify-content: center;
          background: $fifth_color;
          gap: 10px;
          h1,
          p {
            background: $fifth_color;
          }
          p {
            font-size: 10px;
          }
        }
        .right_side {
          .img {
            img {
              background: $fifth_color;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .tools {
    width: 800px;
    .top_info {
      h1 {
        font-weight: 500;
      }
      p {
        margin: 10px 0;
        font-size: 14px;
        width: 450px;
        color: $sixth_color;
      }
    }
    .cards {
      display: flex;
      flex-wrap: wrap;
      gap: 10px 10px;
      margin-top: 30px;
      .card {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 192px;
        gap: 7px;
        padding: 5px 0;
        border: 1px solid $fifth_color;
        border-radius: 10px;
        cursor: pointer;

        .img {
          background: $fifth_color;
          border-radius: 10px;
          padding: 6px;
          margin-left: 5px;
          img {
            width: 30px;
            background: $fifth_color;
          }
        }
        .tool_name {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: start;
          gap: 5px;
          p {
            font-size: 10px;
            color: $sixth_color;
          }
        }
      }
    }
  }
}
